In [4]:
#Installing PySpark
!pip install pyspark

Requirement already satisfied: pyspark in ./.venv/lib/python3.11/site-packages (3.5.5)
Requirement already satisfied: py4j==0.10.9.7 in ./.venv/lib/python3.11/site-packages (from pyspark) (0.10.9.7)

In [5]:
#Installing Pandas
!pip install pandas
import pandas as pd
df = pd.read_csv("Test_Spark.csv")
df.head()

Requirement already satisfied: pandas in ./.venv/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.2.5)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in ./.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in ./.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

     Name  Age
0  Pranay   25
1    Rana   16
2  Mickey   21

In [6]:
#Intializational Spark Session
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()